/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Comfortaa', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 7rem;
  background-color: rgba(236, 236, 240, 0.9);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header {
    height: 25rem;
  }
}
header nav {
  width: 60%;
  height: 3rem;
  margin-top: 3.3rem;
  margin-left: 60rem;
  font-weight: lighter;
}
@media (max-width: 500px) {
  header nav {
    margin: 12rem 10rem 10rem 0;
    height: 20rem;
    width: 100%;
  }
}
header nav a {
  margin: 0 4rem 0 0;
  color: #89919F;
  text-decoration: none;
  font-size: 1.7rem;
}
header nav a:hover {
  color: white;
}
@media (max-width: 500px) {
  header nav a {
    width: 60%;
    color: lime;
  }
}
header .droom-logo {
  flex-direction: row;
  margin: 0 0 1.4rem 3rem;
  width: 30%;
  height: 6rem;
}
@media (max-width: 500px) {
  header .droom-logo {
    margin: 2rem 0 0 10rem;
  }
}
header .droom-logo .logo-pic {
  width: 30%;
  margin: 0;
}
@media (max-width: 500px) {
  header .droom-logo .logo-pic {
    margin: 0;
    width: 40%;
  }
}
header .droom-logo .logo {
  position: relative;
  left: 70px;
  bottom: 45px;
  width: 50;
  font-size: 50px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .droom-logo .cloud {
  height: 6rem;
}
footer {
  width: 70%;
  height: 8rem;
  width: 90%;
  margin: 0 auto;
  color: #89919F;
  background-color: rgba(236, 236, 240, 0.9);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
}
footer a {
  margin: 2rem 0 1rem 0;
  font-size: 1.5em;
  text-decoration: none;
  color: #89919F;
}
footer p {
  margin: 0 auto;
}
body {
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, rgba(45, 154, 253, 0.72639478) 70%);
}
.home-page .top-content {
  display: flex;
  height: 800px;
}
.home-page .top-content .sign-up {
  height: 20rem;
  margin: 20rem 3rem 0 5rem;
  border: 1px solid #E1E1E8;
  border-radius: 20px;
  padding: 4rem 3rem;
  background-color: rgba(225, 225, 232, 0.7);
  color: white;
}
.home-page .top-content .sign-up input {
  width: 62%;
  margin: 3rem 4.5rem 0 3rem;
  padding: 1.3rem;
  border: 1px solid #E0DCDC;
  border-radius: 5px;
}
.home-page .top-content .sign-up button {
  width: 20%;
  padding: 1.2rem;
  border: 1px solid lightgray;
  color: #89919F;
  border-radius: 5px;
}
.home-page .top-content .sign-up button:hover {
  background-color: #E1E1E8;
  color: #89919F;
  border: 1px solid #E1E1E8;
}
.home-page .top-content .intro {
  margin: 20rem 0 0 6rem;
  height: 30rem;
  width: 40%;
}
@media (max-width: 500px) {
  .home-page .top-content .intro {
    display: none;
  }
}
.home-page .top-content .intro p {
  font-size: 3.5rem;
  font-weight: bolder;
  color: #E0DCDC;
}
