.about-page{
  .content-heading {
		display: flex;
		height: 35rem;

		.chef {
			height: 500px;
			width: 549px;
		}

		.dentist {
			height: 200px;
			width: 244px;
		}

		.auto-tech {
			height: 600px;
			width: 550px;
		}

		.photographer {
			height: 300px;
			width: 244px;
		}
	}

	.top-content {
		margin: 10rem 0 0 15rem;
		color: @secondary-color;
		
		p{
			line-height: 5rem;
			margin: 0 15rem 0 0;
			text-align: center;
		}
	}
}