body {
	background-image: url(../images/background1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.home-page {

	.top-content {
		display: flex;

		.sign-up-employee {
			margin-top: 20rem;
			height: 55rem;
			color: white;
			background-color: rgba(6, 6, 83, 0.836);
			border: 2px solid @accent-color;
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;
		}

		.sign-up-employer {
			height: 55rem;
			color: white;
			background-color: rgba(156, 156, 160, 0.616);
			border: 2px solid @accent-color;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
		}

	}
}

.intro {
	margin: 30rem 3rem 0 0;
	height: 30rem;
	color: rgb(66, 66, 66);
	width: 40%;

	p{
		font-size: 4rem;
		color: silver;
	}
}

.home-page{

	.img {
		height: 100px;
		width: 100px;
	}
}