.home-page {
	max-width: 1600px;
	width: 100%;

	.sign-up {
		width: 40%;
		margin: 10rem;
		padding: 3rem;
		border: 2px solid @main-color;
		border-radius: 20px;
	}

		h2 {
			padding: 2rem 5rem;
		}

		p {
			margin-left: 10rem;
		}

	input {
		width: 80%;
		padding: 1rem;
		border: 1px solid @nav-font;
		border-radius: 5px;
		margin: 2rem 3rem;
	}
	
	.intro {
		height: 30rem;
	}
}