header {
	width: 100%;
	height: 7rem;
	background-color: rgba(236, 236, 240, 0.9);
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	
	@media @phone {
		height: 25rem;
	}

	nav {
    width: 60%;
    height: 3rem;
		margin-top: 3.3rem;
		margin-left: 60rem;
		font-weight: lighter;

		@media @phone {
			margin: 12rem 10rem 10rem 0;
			height: 20rem;
			width: 100%;
		}
		
		a	{
			margin: 0 4rem 0 0;
			color: @accent-color;
			text-decoration: none;
			font-size: 1.7rem;
				&:hover {
					color: white;
				}
				
				@media @phone {
					width: 60%;
					// margin: 0 0 16rem 0;
					color: lime;
				}
		}
	}
	
	
	.droom-logo {
		flex-direction: row;
    margin: 0 0 1.4rem 3rem;
		width: 30%;
		height: 6rem;

		@media @phone {
			margin: 2rem 0 0 10rem;
		}

		.logo-pic{
			width: 30%;
			margin: 0;

			@media @phone {
				margin: 0;
				width: 40%;
			}
		}
		
		.logo {
			position: relative;
			left: 70px;
			bottom: 45px;
			width: 50;
			font-size: 50px;
			background: -webkit-linear-gradient(#eee, #333);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		
		.cloud {
			height: 6rem;
		}
	}
}
