// Color assignments
@accent-color: @regent-gray;
@para-color: @bon-jour;
@secondary-color: @cray-gray;

// Colors
@cray-gray: #E1E1E8;
@bon-jour: #E0DCDC;
@regent-gray: #89919F;

// Breakpoints
@phone: ~"(max-width: 500px)";